apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "api_url": "https://rancher-x.x.x.com",
      "access_key": "yy",
      "secret_key": "zz"
    }
